{% extends "base.html" %}
{% block title %}关于我{% endblock %}
{% block beforecss %}

{% endblock %}
{% block content %}
    <div class="uk-width-medium-3-4">
        <ul id="accordion" class="accordion">
            {%for f in foo%}
		    <li>
            <div class="link"><i class="fa fa-paint-brush"></i>{{f[0]}}<i class="fa fa-chevron-down"></i></div>
			    <ul class="submenu">
                {%for l in f[1:]%}
                <li><a href="./{{f[0]}}/{{l}}.html">{{l}}</a></li>
                {%endfor%}
			    </ul>
		    </li>
            {%endfor%}
        </ul>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="">1</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="">2</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="">3</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="">4</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
