{% extends "base.html" %}
{% block title %}博客{% endblock %}
{% block beforecss %}
    <link rel="stylesheet" href="../../static/css/uikit.almost-flat.min.css" />
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../static/css/font-awesome-ie7.min.css" />
    <link rel="stylesheet" href="../../static/css/genialwang.css" />
    <link rel="stylesheet" href="../../static/css/components/sticky.almost-flat.min.css" />
    <link rel="stylesheet" href="../../static/css/components/dotnav.almost-flat.min.css" />
{% endblock %}
{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-3-10">
            <div class="uk-panel uk-panel-box" data-uk-sticky="{top:100}">
                <ul class = "uk-dotnav uk-flex-column" data-uk-scrollspy-nav="{closest:'li', smoothscroll:true}" >
                    <li class = "uk-active"><a href = "#1">导航1</a></li>
                    <li><a href = "#2">导航2</a></li>
                </ul>
            </div>
        </div>
        
        <div class="uk-width-medium-7-10 uk-container-center" id="top">
            <div class = "uk-panel uk-panel-box">
                <h3 class = "uk-panel-title">Title</h3>
                <div class="uk-panel-badge uk-badge">
                </div>
                <p id="1">
                    ihajhgoiaerhbrandljahglaerngoagbriabrgbariughaehgruibgfoahgvruaherguhsrguhapeorgheiaurgpaehrg
                    rajgrnepsgre;rngiwhrghwurehg;aobngfiobroefvniagdabfrviuorgba;gghorghwehgfpqhgrwebrlg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                </p>
            </div>
            
            <div class = "uk-panel uk-panel-box">
                <h3 class = "uk-panel-title">Title</h3>
                <div class="uk-panel-badge uk-badge">
                </div>
                <p id="1">
                    ihajhgoiaerhbrandljahglaerngoagbriabrgbariughaehgruibgfoahgvruaherguhsrguhapeorgheiaurgpaehrg
                    rajgrnepsgre;rngiwhrghwurehg;aobngfiobroefvniagdabfrviuorgba;gghorghwehgfpqhgrwebrlg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                </p>
            </div>

            <div class = "uk-panel uk-panel-box" id="bottom">
                <h3 class = "uk-panel-title">Title</h3>
                <div class="uk-panel-badge uk-badge">
                </div>
                <p id="2">
                    ihajhgoiaerhbrandljahglaerngoagbriabrgbariughaehgruibgfoahgvruaherguhsrguhapeorgheiaurgpaehrg
                    rajgrnepsgre;rngiwhrghwurehg;aobngfiobroefvniagdabfrviuorgba;gghorghwehgfpqhgrwebrlg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                    tadhgjfndlbasrghergrfshrgubfelbgjadgiaehrg;snerilgaeprhganrghaegruareg
                </p>
            </div>
        </div>
    </div>
    <div class="uk-position-absolute" id="main_link">
        <li><i class="angle-double-up"></i><a href="#top" data-uk-smooth-scroll>去顶部</a></li>
        <li><i class="angle-double-down"></i><a href="#bottom" data-uk-smooth-scroll>去底部</a></li>
    </div>
{% endblock %}
{% block endjs %}
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/uikit.min.js"></script>
    <script src="../../static/js/components/sticky.min.js"></script>
    <script src="../../static/js/components/smooth-scroll.min.js"></script>
    <script src="../../static/js/components/google_analytics.js"></script>
{% endblock %}
