#info{
	color:#FFF;
}
#info a{
    color:#39f;
}
#info a:hover{
    color:#b63b4d;
}
#main_link{
    right:50px;
    bottom:10px
}
.totop{
    position:fixed;
    right:20px;
    bottom:20px;
    /*display:block;*/
    display:none;
    width:26px;
    height:62px;
    background:url(../img/rocket.png) no-repeat 0 0;
    -webkit-transition: all 0.2s ease-in-out;
}
.totop:hover{
    background:url(../img/rocket.png) no-repeat 0 -62px;
}
#friend_link{
    margin-top:30px;
    background-color: #FFF;
}
#my_navigation{
    padding-left:0px;
    font-size: 14px;
}
#my_title{
    background-color: #333;
    text-align:center;
}
#my_title h1{
    color: #6ab825;
}
#my_content{
    margin-top: 0px;
}
#my_content ol,#my_content ul {
    padding-left: 15px;
}
#my_blog{
    padding-left:0px;
}
.uk-dotnav>.uk-active a{
    color: #636363;
}
.uk-dotnav li a{
    color:#a3a3a3;
    text-decoration:none;
}
.uk-dotnav li a:hover {
    background-color:#636363;
    transform:scale(1.3);
    text-decoration: none;
    color: #636363;
}

